* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #303030;
    padding: 206px 0 149px 62px;
}

header h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
}

header h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;

    margin-top: 20px;
}

.section1 {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    padding: 96px 0 66px 0;
    background-color: #F9F9F9;
}

.section1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
}

.section1 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.section2 {
    display: grid;
    grid-auto-flow: column;
    background-color: #F5F5F5;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 77px;
}

.section2 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #000000;

    margin-bottom: 60px;
}

.section2 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    color: #000000;

    margin-bottom: 29px;
}

.div2 {
    padding: 82px 54px 92px 0;
    text-align: end;
}

form {
    background-color: #303030;
    padding: 87px 0;
    text-align: center;
}

form h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

    margin-bottom: 48px;
}

form input {
    width: 508px;
    height: 72px;
    border-radius: 10px;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    margin-bottom: 62px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

form button {
    width: 286px;
    height: 74px;
    background: rgb(192, 114, 18);
    border-radius: 10px;
    border: none;
    margin-top: 26px;
    cursor: pointer;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

form button:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0 8px 15px;
    transform: translateY(-2px);
}


 @media (max-width: 480px) {

    header {
        padding: 90px 0 80px 30px;
    }

    header h1 {
        font-size: 15px;
        line-height: 20px;
    }

    header h2 {
        font-size: 10px;
        margin-top: 10px;
    }

    .section1 {
        padding: 25px 0 25px 0;
    }

    .section1 h1 {
        line-height: 20px;
        font-size: 17px;
    }

    .section1 h2 {
        font-size: 7px;
        line-height: 15px;
    }

    .section2 {
        grid-auto-flow: row;
    }

    .div1 {
        padding: 0 ;
        text-align: center;
    }

    .section2 h1 {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .section2 h2 {
        font-size: 9px;
        line-height: 16px;
        margin-bottom: 29px;
    }

    .div2 {
        padding: 10px 20px 20px 20px;
        text-align: center;
    }

    .div2 img {
        width: 90%;
    }

    form h1 {
        font-size: 16px;
        line-height: 32px;
    }

    form input {
        width: 270px;
        height: 60px;
        margin-bottom: 40px;
    }

    form button {
        width: 235px;
        height: 60px;
    }

 }

 @media (min-width: 481px) and (max-width: 768px) {

    header {
        padding: 90px 0 80px 30px;
    }

    header h1 {
        font-size: 25px;
        line-height: 40px;
    }

    header h2 {
        font-size: 17px;
        margin-top: 10px;
    }

    .section1 {
        padding: 25px 0 25px 0;
    }

    .section1 h1 {
        line-height: 42px;
        font-size: 26px;
    }

    .section1 h2 {
        font-size: 10px;
        line-height: 15px;
    }

    .section2 {
        grid-auto-flow: row;
    }

    .div1 {
        padding: 0 ;
        text-align: center;
    }

    .section2 h1 {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .section2 h2 {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .div2 {
        padding: 10px 20px 20px 20px;
        text-align: center;
    }

    .div2 img {
        width: 90%;
    }

    form h1 {
        font-size: 16px;
        line-height: 32px;
    }

    form input {
        width: 270px;
        height: 60px;
        margin-bottom: 40px;
    }

    form button {
        width: 235px;
        height: 60px;
    }

 }

 @media (min-width: 769px) and (max-width: 1024px) {

    header {
        padding: 90px 0 80px 30px;
    }

    header h1 {
        font-size: 40px;
        line-height: 50px;
    }

    header h2 {
        font-size: 17px;
        margin-top: 10px;
    }

    .section1 {
        padding: 25px 0 25px 0;
    }

    .section1 h1 {
        line-height: 42px;
        font-size: 35px;
    }

    .section1 h2 {
        font-size: 15px;
        line-height: 15px;
    }

    .section2 {
        grid-auto-flow: row;
    }

    .div1 {
        padding: 0 ;
        text-align: center;
    }

    .section2 h1 {
        font-size: 35px;
        line-height: 75px;
        margin-bottom: 25px;
    }

    .section2 h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .div2 {
        padding: 10px 20px 20px 20px;
        text-align: center;
    }

    .div2 img {
        width: 80%;
    }

    form h1 {
        font-size: 30px;
        line-height: 40px;
    }

    form input {
        width: 420px;
        height: 70px;
        margin-bottom: 40px;
    }

 }

 @media (min-width: 1025px) and (max-width: 1200px) {

    header h1 {
        font-size: 55px;
    }
    
    .div1 {
        padding: 0 15px 0 70px;
    }

    .section2 h1 {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .section2 h2 {
        font-size: 15px;
        line-height: 20px;
    }

    .div2 img {
        width: 75%;
    }

 }

 @media (min-width: 1201px) and (max-width: 1400px) {
    
    .section2 h2 {
        font-size: 20px;
    }

    .section2 h1 {
        font-size: 34px;
    }

 }

@media (min-width: 1800px) {
    .section2 h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .section2 h2 {
        font-size: 29px;
        line-height: 32px;
    }

}